.article_topic{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 6%;
    color: crimson;
    font-size: 40px;
}

.article_hr{
    width: 90%;
    margin-left: 25px;
    border-top: 3px solid rgb(0, 0, 0)
}

.article_title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 55%;
    color: crimson;
}

.article_EnterTitle{
    width: 40%;
    margin-left: 55%;
}

.ADDarticleDOC_title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10%;
    border-color: black;
    color: crimson;
}

.articleADD_image_field{
    width: 35%;
    margin-left: 10%;
}

.radiobtn{
    margin-right: 500px;
    width: 10px;
    height: 10px;
}

.addArticle_div{
    width: 91%;
    margin-left: 5%;
    background-color:darkseagreen;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
}

.addArticleGIF{
    width: 35%;
    margin-top: -600px;
    margin-left: 10%;
    border: 1px solid #555;
    border-radius: 15px;
}

.DIVADDIMGFIELD{
    margin-top: -85px;
}

.confimBtnAddArticle{
    width: 19%;
    margin-left: 55%;
}

.viewarticleBtn{
    margin-left: 80%;
    width: 250px;
}

.searchbararticle{
    width: 30%;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: -70px;
}

.radiobtn{
    margin-left: 365px;
}

.dropdownarticle{
    margin-left: 38%;
    width: 10%;
    margin-top: 33px;
}

.radioBtnarticle{
    margin-top: -200px;
}


